torch==1.6.0
torchvision==0.7.0
pillow>=4.1.1
fairseq==0.10.2
transformers>=4.0.0
sentence_transformers>=0.4.1.2
nltk>=3.5
numpy==1.22.2
scikit-image==0.21.0
opencv-python==4.8.1.78
Pillow==9.5.0
word2word
wget
joblib
lxml
g2p_en
whoosh
marisa-trie
kss