torch==2.1.1+cu121
torchaudio==2.1.1+cu121
torchvision==0.16.1+cu121
fairseq @ git+https://github.com/define16/fairseq.git
transformers>=4.0.0
sentence_transformers>=0.4.1.2
nltk>=3.5
hydra-core>=1.3.2
scikit-image==0.21.0
opencv-python==4.8.1.78
Pillow==9.5.0
word2word
wget
joblib
lxml
g2p_en
whoosh
marisa-trie
kss